@import-normalize; /* bring in normalize.css styles */

body {
  background-color: rgb(173, 182, 182);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list--item {
  display: flex;
  gap: 30px;
  color: black;
  list-style: none;
  font-size: 16px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 40px;
  align-items: center;

}
.list--item button {
  background-color: rgb(177, 81, 81);
  border-color: rgb(177, 81, 81);
  font-weight: bolder;
  border-radius: 18px;
  box-shadow: none;
  border-style: solid;
  color: white;
  height: 35px;
}
.add--button{
  background-color: cadetblue;
  margin: 30px;
  width: 200px;
  height: 30px;
  border: none;
  font-weight: bolder;
  border-radius: 30px;
}
.list--item p{
  font-weight: bolder;
}

.list--item__name{
  font-weight: normal;
  font-size: 14px;
  width: 250px;
}

.contact-list{
  border: 1px chocolate;
  padding-inline-end: 40px;
}

.contacts--container{
  border: 2px;
  border-color: rgb(189, 199, 199);
  border-radius: 5px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(189, 199, 199);
  margin-top: 10px;
}
.contacts--title{
  margin-top: 30px;
  margin-bottom: 0px;
}
input{

  border-radius: 30px;
  border-style: solid;
  background-color: transparent;
}